<div class="heading">
  <a href="/airplanes" class="title">Planes</a>
  <a href="/flights" class="title">Flights</a>
  <a href="/admin" class="title">Admin</a>
</div>
<h1 class="airlineName">Emperor Airlines</h1>


<button id="createFlight" class="btn btn-danger createPlane">Create Flight</button>


<div id="container" class="createAirplane form-inline">

    <div id="newFlight">
      <input type="text" id="flight_number" placeholder="flight #" class="form-control">
      <input type="text" id="date" placeholder="date" class="form-control">
      <input type="text" id="destination" placeholder="to" class="form-control">
      <input type="text" id="origin" placeholder="from" class="form-control">
      <input type="text" id="plane" placeholder="plane" class="form-control">

        <div class="buttons">
          <a href="" class="cancel">Cancel</a>
          <button class="save btn btn-danger">Save</button>
      </div>
    </div>

</div>

<h2>Flights</h2>
  <table id="flight_details" class="table table-hover">
    <thead>
      <tr>
        <th>Flight</th>
        <th>Date</th>
        <th>From</th>
        <th>To</th>
        <th>Plane</th>
        <th>Seats</th>
      </tr>
    </thead>
    <tbody>
      <% @flights.each do |flight| %>
      <tr>
        <td><%= link_to(flight.number, flight_path(flight)) %></td>
        <td><%= flight.date %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.origin %></td>
        <td><%= flight.plane %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>


<script type="template/handlebars" id="flightItemView">

      <td><a href="/flights/{{id}}">{{ number }}</a></td>
      <td>{{ date }}</td>
      <td>{{ destination }}</td>
      <td>{{ origin }}</td>
      <td>{{ plane }}</td>

</script>


